
{% if items %}
  <ul class="nav nav-tabs">
    {% for item in items %}
      {% if item.active %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% elseif item.disabled %}
        <li class="nav-item">
          <a class="nav-link disabled" href="{{ item.url }}" aria-disabled="true">{{ item.title }}</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}
