
<div class="side-by-side container {{ layout }} {{ modifier }}">
  <div class="row flex-column gy-3 {{ ('right' in layout) ? 'flex-lg-row-reverse ' : 'flex-lg-row ' }}justify-content-between align-items-center">
    <div class="col-lg-6">
      <div class="shadow rounded">
        {{ media }}
      </div>
    </div>
    <div class="col-lg-6 col-xxl-5 d-flex flex-column gap-3">
      {% if eyebrow %}
        {% include '@drupalx_theme/badge/badge.twig' with {
          tag: eyebrow,
          modifier: 'text-bg-secondary text-uppercase'
        } only %}
      {% endif %}
      {%
        include '@drupalx_theme/heading/heading.twig' with {
          heading: {
            title: title,
            heading_level: 2,
            modifier: 'mb-2'
          }
        } only
      %}
      <div>
        {% if body %}
          {{ body }}
        {% endif %}
      </div>
        {% if button.url %}
          {% include '@drupalx_theme/button/button.twig' with {
            button: {
              url: button.url,
              text: button.text,
              icon: button.icon,
              modifier: button.modifier
            }
          } only %}
        {% endif %}
    </div>
  </div>
</div>
