
<div class="card h-100 {{ card.modifier }}">
  {% block card_media %}
    {% if card.media %}
      {% if card.media_link %}
        <a href="{{ card.media_link }}">
      {% endif %}
      {{ card.media }}
      {% if card.media_link %}
        </a>
      {% endif %}
    {% endif %}
  {% endblock %}

  <div class="card-body mt-2 {{ card.body_modifier }}">
    {% if card.tags %}
      <ul class="list-inline mb-2">
        {% for tag in card.tags %}
          <li class="list-inline-item">
            {% include 'drupalx_theme:badge' with {
              "tag": tag,
              "modifier": 'text-bg-primary'
            } only %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    {%
      include 'drupalx_theme:heading' with {
        "heading": card.heading
      } only
    %}
    <p class="card-text fs-6">
      {% if card.summary_text %}
        {{ card.summary_text }}
      {% endif %}
    </p>
    {% if card.link.url %}
      <ul class="list-inline mb-0">
        {% if card.link.url %}
          <li class="list-inline-item">
            {% include 'drupalx_theme:button' with {
              "button": {
                "url": card.link.url,
                "text": card.link.text,
                "icon": 'arrow_right_alt',
                "modifier": 'btn-primary'
              }
            } only %}
          </li>
        {% endif %}
        {% if card.link2.url %}
          <li class="list-inline-item">
            {% include 'drupalx_theme:button' with {
              "button": {
                "url": card.link2.url,
                "text": card.link2.text,
                "icon": 'arrow_right_alt',
                "modifier": 'btn-outline-primary'
              }
            } only %}
          </li>
        {% endif %}
      </ul>
    {% endif %}
  </div>
</div>
