{#
/**
 * @file
 * Theme override to display a node.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'mb-6 mb-lg-12',
  ]
%}
<article{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass('container') }}>
    <div class="mb-7 rounded shadow">
      {{ content.field_media }}
    </div>

    <div class="col-lg-8 mx-auto">
      {{ title_prefix }}
      {%
        include 'drupalx_theme:heading' with {
          "heading": {
            "title": label,
            "heading_level": 1,
            "modifier": "display-3 mb-6 text-center"
          }
        } only
      %}
      {{ title_suffix }}

      {{ content|without('field_media') }}
    </div>
  </div>
</article>
