<div class="carousel-item {{ item.active ? 'active' : ''}}">
  {% if item.image %}
    {{ item.image }}
  {% endif %}
  <div class="carousel-caption d-none d-md-block">
    {% if item.title %}
      {%
        include 'drupalx_theme:heading' with {
          "heading": {
            "title": item.title,
            "heading_level": 3,
            "modifier": "",
          }
        } only
      %}
    {% endif %}
    <p>{{ item.caption }}</p>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel{{ id }}" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel{{ id }}" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
