{#
/**
 * @file
 * Theme implementation for a 'webform' element.
 *
 * @see template_preprocess_webform()
 * @see _webform_form_after_build()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('drupalx_theme/form') }}

<div class="container mb-6 mb-lg-15">
  <form{{ attributes.addClass('col-lg-10 mx-auto') }}>
    {{ title_prefix }}
    {{ children }}
    {{ title_suffix }}
  </form>
</div>
