<div class="col-6 col-md-3 mb-3">
  <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#{{ id }}">{{ media_thumb }}</a>
</div>

<div id="{{ id }}" class="modal fade" tabindex="-1" aria-labelledby="{{ id }}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ media_description }}</h5>
      </div>
      <div class="modal-body gallery-body">
        {{ media }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
